@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/static/PublicSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Public Sans';
  src: url('/fonts/static/PublicSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
