name: CI Back-end (Node)

on:
  workflow_call:

jobs:
  validate:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: back

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23.6.0

      - name: Instalar dependências
        run: npm ci

      - name: Rodar Linter
        run: npm run lint