name: CD (Monorepo)

on:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      front: ${{ steps.filter.outputs.front }}
      back: ${{ steps.filter.outputs.back }}

    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            front:
              - 'front/**'
            back:
              - 'back/**'

  front:
    name: Deploy Front-end
    needs: detect-changes
    if: needs.detect-changes.outputs.front == 'true'
    uses: ./.github/workflows/front-cd.yml
    secrets: inherit

  back:
    name: Deploy Back-end
    needs: detect-changes
    if: needs.detect-changes.outputs.back == 'true'
    uses: ./.github/workflows/back-cd.yml
    secrets: inherit

  gatekeeper:
    name: CD (Monorepo)
    runs-on: ubuntu-latest
    needs:
      - detect-changes
      - front
      - back
    if: always()

    steps:
      - name: Finalizar CD
        run: |
          echo "CD finalizado"
