name: CI (Front e Back)

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  pull-requests: write

jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      front: ${{ steps.filter.outputs.front }}
      back: ${{ steps.filter.outputs.back }}

    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            front:
              - 'front/**'
            back:
              - 'back/**'

  front:
    name: Front CI
    needs: detect-changes
    if: needs.detect-changes.outputs.front == 'true'
    uses: ./.github/workflows/front-ci.yml
    secrets: inherit

  back:
    name: Back CI
    needs: detect-changes
    if: needs.detect-changes.outputs.back == 'true'
    uses: ./.github/workflows/back-ci.yml
    secrets: inherit

  gatekeeper:
    name: CI (Monorepo)
    runs-on: ubuntu-latest
    needs:
      - detect-changes
      - front
      - back
    if: always()

    steps:
      - name: Avaliar resultado do CI
        run: |
          echo "CI finalizado com sucesso"
